In [31]:
import pandas as pd
df1=pd.read_csv("CARSS.CSV")
df1

           Car       Model  Volume  Weight  CO2
0       Toyoty        Aygo     1.0     790   99
1   Mitsubishi  Space Star     1.2    1160   95
2        Skoda      Citigo     1.0     929   95
3         Fiat         500     0.9     865   90
4         Mini      Cooper     1.5    1140  105
5           VW         Up!     1.0     929  105
6        Skoda       Fabia     1.4    1109   90
7     Mercedes     A-Class     1.5    1365   92
8         Ford      Fiesta     1.5    1112   98
9         Audi          A1     1.6    1150   99
10     Hyundai         I20     1.1     980   99
11      Suzuki       Swift     1.3     990  101
12        Ford      Fiesta     1.0    1112   99
13       Honda       Civic     1.6    1252   94
14      Hundai         I30     1.6    1326   97
15        Opel       Astra     1.6    1330   97
16         BMW           1     1.6    1365   99
17       Mazda           3     2.2    1280  104
18       Skoda       Rapid     1.6    1119  104
19        Ford       Focus     2.0    1328  105
20        Ford      Mondeo     1.6    1584   94
21        Opel    Insignia     2.0    1428   99
22    Mercedes     C-Class     2.1    1365   99
23       Skoda     Octavia     1.6    1415   99
24       Volvo         S60     2.0    1415   99
25    Mercedes         CLA     1.5    1465  102
26        Audi          A4     2.0    1490  104
27        Audi          A6     2.0    1725  114
28       Volvo         V70     1.6    1523  109
29         BMW           5     2.0    1705  114
30    Mercedes     E-Class     2.1    1605  115
31       Volvo        XC70     2.0    1746  117
32        Ford       B-Max     1.6    1235  104
33         BMW         216     1.6    1390  108
34        Opel      Zafira     1.6    1405  109
35    Mercedes         SLK     2.5    1395  120

In [32]:
df1.std()

C:\Users\geeth\AppData\Local\Temp\ipykernel_21640\3039516898.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.std()

Volume      0.388975
Weight    242.123889
CO2         7.454571
dtype: float64

In [33]:
df1.mean()

C:\Users\geeth\AppData\Local\Temp\ipykernel_21640\2053335143.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean()

Volume       1.611111
Weight    1292.277778
CO2        102.027778
dtype: float64

In [34]:
df1.max()

Car        Volvo
Model     Zafira
Volume       2.5
Weight      1746
CO2          120
dtype: object

In [35]:
df1.min()

Car       Audi
Model        1
Volume     0.9
Weight     790
CO2         90
dtype: object

In [36]:
from sklearn.preprocessing import StandardScaler
scale=StandardScaler()

x=df1[['Weight','Volume']]

scaledx=scale.fit_transform(x)
print(scaledx)

[[-2.10389253 -1.59336644]
 [-0.55407235 -1.07190106]
 [-1.52166278 -1.59336644]
 [-1.78973979 -1.85409913]
 [-0.63784641 -0.28970299]
 [-1.52166278 -1.59336644]
 [-0.76769621 -0.55043568]
 [ 0.3046118  -0.28970299]
 [-0.7551301  -0.28970299]
 [-0.59595938 -0.0289703 ]
 [-1.30803892 -1.33263375]
 [-1.26615189 -0.81116837]
 [-0.7551301  -1.59336644]
 [-0.16871166 -0.0289703 ]
 [ 0.14125238 -0.0289703 ]
 [ 0.15800719 -0.0289703 ]
 [ 0.3046118  -0.0289703 ]
 [-0.05142797  1.53542584]
 [-0.72580918 -0.0289703 ]
 [ 0.14962979  1.01396046]
 [ 1.2219378  -0.0289703 ]
 [ 0.5685001   1.01396046]
 [ 0.3046118   1.27469315]
 [ 0.51404696 -0.0289703 ]
 [ 0.51404696  1.01396046]
 [ 0.72348212 -0.28970299]
 [ 0.8281997   1.01396046]
 [ 1.81254495  1.01396046]
 [ 0.96642691 -0.0289703 ]
 [ 1.72877089  1.01396046]
 [ 1.30990057  1.27469315]
 [ 1.90050772  1.01396046]
 [-0.23991961 -0.0289703 ]
 [ 0.40932938 -0.0289703 ]
 [ 0.47215993 -0.0289703 ]
 [ 0.4302729   2.31762392]]

In [37]:
scaled_column=pd.DataFrame(scaledx)
scaled_column

           0         1
0  -2.103893 -1.593366
1  -0.554072 -1.071901
2  -1.521663 -1.593366
3  -1.789740 -1.854099
4  -0.637846 -0.289703
5  -1.521663 -1.593366
6  -0.767696 -0.550436
7   0.304612 -0.289703
8  -0.755130 -0.289703
9  -0.595959 -0.028970
10 -1.308039 -1.332634
11 -1.266152 -0.811168
12 -0.755130 -1.593366
13 -0.168712 -0.028970
14  0.141252 -0.028970
15  0.158007 -0.028970
16  0.304612 -0.028970
17 -0.051428  1.535426
18 -0.725809 -0.028970
19  0.149630  1.013960
20  1.221938 -0.028970
21  0.568500  1.013960
22  0.304612  1.274693
23  0.514047 -0.028970
24  0.514047  1.013960
25  0.723482 -0.289703
26  0.828200  1.013960
27  1.812545  1.013960
28  0.966427 -0.028970
29  1.728771  1.013960
30  1.309901  1.274693
31  1.900508  1.013960
32 -0.239920 -0.028970
33  0.409329 -0.028970
34  0.472160 -0.028970
35  0.430273  2.317624

In [38]:
df1=pd.concat([df1,scaled_column],axis=1)
df1.rename(columns={0:"weight_scaled",1:"volume_scaled"},inplace=True)
df1

           Car       Model  Volume  Weight  CO2  weight_scaled  volume_scaled
0       Toyoty        Aygo     1.0     790   99      -2.103893      -1.593366
1   Mitsubishi  Space Star     1.2    1160   95      -0.554072      -1.071901
2        Skoda      Citigo     1.0     929   95      -1.521663      -1.593366
3         Fiat         500     0.9     865   90      -1.789740      -1.854099
4         Mini      Cooper     1.5    1140  105      -0.637846      -0.289703
5           VW         Up!     1.0     929  105      -1.521663      -1.593366
6        Skoda       Fabia     1.4    1109   90      -0.767696      -0.550436
7     Mercedes     A-Class     1.5    1365   92       0.304612      -0.289703
8         Ford      Fiesta     1.5    1112   98      -0.755130      -0.289703
9         Audi          A1     1.6    1150   99      -0.595959      -0.028970
10     Hyundai         I20     1.1     980   99      -1.308039      -1.332634
11      Suzuki       Swift     1.3     990  101      -1.266152      -0.811168
12        Ford      Fiesta     1.0    1112   99      -0.755130      -1.593366
13       Honda       Civic     1.6    1252   94      -0.168712      -0.028970
14      Hundai         I30     1.6    1326   97       0.141252      -0.028970
15        Opel       Astra     1.6    1330   97       0.158007      -0.028970
16         BMW           1     1.6    1365   99       0.304612      -0.028970
17       Mazda           3     2.2    1280  104      -0.051428       1.535426
18       Skoda       Rapid     1.6    1119  104      -0.725809      -0.028970
19        Ford       Focus     2.0    1328  105       0.149630       1.013960
20        Ford      Mondeo     1.6    1584   94       1.221938      -0.028970
21        Opel    Insignia     2.0    1428   99       0.568500       1.013960
22    Mercedes     C-Class     2.1    1365   99       0.304612       1.274693
23       Skoda     Octavia     1.6    1415   99       0.514047      -0.028970
24       Volvo         S60     2.0    1415   99       0.514047       1.013960
25    Mercedes         CLA     1.5    1465  102       0.723482      -0.289703
26        Audi          A4     2.0    1490  104       0.828200       1.013960
27        Audi          A6     2.0    1725  114       1.812545       1.013960
28       Volvo         V70     1.6    1523  109       0.966427      -0.028970
29         BMW           5     2.0    1705  114       1.728771       1.013960
30    Mercedes     E-Class     2.1    1605  115       1.309901       1.274693
31       Volvo        XC70     2.0    1746  117       1.900508       1.013960
32        Ford       B-Max     1.6    1235  104      -0.239920      -0.028970
33         BMW         216     1.6    1390  108       0.409329      -0.028970
34        Opel      Zafira     1.6    1405  109       0.472160      -0.028970
35    Mercedes         SLK     2.5    1395  120       0.430273       2.317624

In [45]:
df1.std()

C:\Users\geeth\AppData\Local\Temp\ipykernel_21640\3039516898.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.std()

Volume             0.388975
Weight           242.123889
CO2                7.454571
weight_scaled      1.014185
volume_scaled      1.014185
dtype: float64

In [46]:
df1.mean()

C:\Users\geeth\AppData\Local\Temp\ipykernel_21640\2053335143.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean()

Volume           1.611111e+00
Weight           1.292278e+03
CO2              1.020278e+02
weight_scaled   -2.621360e-16
volume_scaled    3.700743e-17
dtype: float64

In [39]:
import seaborn as sns

In [40]:
iris=sns.load_dataset("iris")
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [41]:
x=iris.iloc[:,0:4]

In [42]:
from sklearn.preprocessing import MinMaxScaler
scaled_x=MinMaxScaler().fit_transform(x)

In [43]:
scaled_x

array([[0.22222222, 0.625     , 0.06779661, 0.04166667],
       [0.16666667, 0.41666667, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.05084746, 0.04166667],
       [0.08333333, 0.45833333, 0.08474576, 0.04166667],
       [0.19444444, 0.66666667, 0.06779661, 0.04166667],
       [0.30555556, 0.79166667, 0.11864407, 0.125     ],
       [0.08333333, 0.58333333, 0.06779661, 0.08333333],
       [0.19444444, 0.58333333, 0.08474576, 0.04166667],
       [0.02777778, 0.375     , 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.30555556, 0.70833333, 0.08474576, 0.04166667],
       [0.13888889, 0.58333333, 0.10169492, 0.04166667],
       [0.13888889, 0.41666667, 0.06779661, 0.        ],
       [0.        , 0.41666667, 0.01694915, 0.        ],
       [0.41666667, 0.83333333, 0.03389831, 0.04166667],
       [0.38888889, 1.        , 0.08474576, 0.125     ],
       [0.30555556, 0.79166667, 0.05084746, 0.125     ],
       [0.22222222, 0.625     , 0.06779661, 0.08333333],
       [0.38888889, 0.75      , 0.11864407, 0.08333333],
       [0.22222222, 0.75      , 0.08474576, 0.08333333],
       [0.30555556, 0.58333333, 0.11864407, 0.04166667],
       [0.22222222, 0.70833333, 0.08474576, 0.125     ],
       [0.08333333, 0.66666667, 0.        , 0.04166667],
       [0.22222222, 0.54166667, 0.11864407, 0.16666667],
       [0.13888889, 0.58333333, 0.15254237, 0.04166667],
       [0.19444444, 0.41666667, 0.10169492, 0.04166667],
       [0.19444444, 0.58333333, 0.10169492, 0.125     ],
       [0.25      , 0.625     , 0.08474576, 0.04166667],
       [0.25      , 0.58333333, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.10169492, 0.04166667],
       [0.13888889, 0.45833333, 0.10169492, 0.04166667],
       [0.30555556, 0.58333333, 0.08474576, 0.125     ],
       [0.25      , 0.875     , 0.08474576, 0.        ],
       [0.33333333, 0.91666667, 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.04166667],
       [0.19444444, 0.5       , 0.03389831, 0.04166667],
       [0.33333333, 0.625     , 0.05084746, 0.04166667],
       [0.16666667, 0.66666667, 0.06779661, 0.        ],
       [0.02777778, 0.41666667, 0.05084746, 0.04166667],
       [0.22222222, 0.58333333, 0.08474576, 0.04166667],
       [0.19444444, 0.625     , 0.05084746, 0.08333333],
       [0.05555556, 0.125     , 0.05084746, 0.08333333],
       [0.02777778, 0.5       , 0.05084746, 0.04166667],
       [0.19444444, 0.625     , 0.10169492, 0.20833333],
       [0.22222222, 0.75      , 0.15254237, 0.125     ],
       [0.13888889, 0.41666667, 0.06779661, 0.08333333],
       [0.22222222, 0.75      , 0.10169492, 0.04166667],
       [0.08333333, 0.5       , 0.06779661, 0.04166667],
       [0.27777778, 0.70833333, 0.08474576, 0.04166667],
       [0.19444444, 0.54166667, 0.06779661, 0.04166667],
       [0.75      , 0.5       , 0.62711864, 0.54166667],
       [0.58333333, 0.5       , 0.59322034, 0.58333333],
       [0.72222222, 0.45833333, 0.66101695, 0.58333333],
       [0.33333333, 0.125     , 0.50847458, 0.5       ],
       [0.61111111, 0.33333333, 0.61016949, 0.58333333],
       [0.38888889, 0.33333333, 0.59322034, 0.5       ],
       [0.55555556, 0.54166667, 0.62711864, 0.625     ],
       [0.16666667, 0.16666667, 0.38983051, 0.375     ],
       [0.63888889, 0.375     , 0.61016949, 0.5       ],
       [0.25      , 0.29166667, 0.49152542, 0.54166667],
       [0.19444444, 0.        , 0.42372881, 0.375     ],
       [0.44444444, 0.41666667, 0.54237288, 0.58333333],
       [0.47222222, 0.08333333, 0.50847458, 0.375     ],
       [0.5       , 0.375     , 0.62711864, 0.54166667],
       [0.36111111, 0.375     , 0.44067797, 0.5       ],
       [0.66666667, 0.45833333, 0.57627119, 0.54166667],
       [0.36111111, 0.41666667, 0.59322034, 0.58333333],
       [0.41666667, 0.29166667, 0.52542373, 0.375     ],
       [0.52777778, 0.08333333, 0.59322034, 0.58333333],
       [0.36111111, 0.20833333, 0.49152542, 0.41666667],
       [0.44444444, 0.5       , 0.6440678 , 0.70833333],
       [0.5       , 0.33333333, 0.50847458, 0.5       ],
       [0.55555556, 0.20833333, 0.66101695, 0.58333333],
       [0.5       , 0.33333333, 0.62711864, 0.45833333],
       [0.58333333, 0.375     , 0.55932203, 0.5       ],
       [0.63888889, 0.41666667, 0.57627119, 0.54166667],
       [0.69444444, 0.33333333, 0.6440678 , 0.54166667],
       [0.66666667, 0.41666667, 0.6779661 , 0.66666667],
       [0.47222222, 0.375     , 0.59322034, 0.58333333],
       [0.38888889, 0.25      , 0.42372881, 0.375     ],
       [0.33333333, 0.16666667, 0.47457627, 0.41666667],
       [0.33333333, 0.16666667, 0.45762712, 0.375     ],
       [0.41666667, 0.29166667, 0.49152542, 0.45833333],
       [0.47222222, 0.29166667, 0.69491525, 0.625     ],
       [0.30555556, 0.41666667, 0.59322034, 0.58333333],
       [0.47222222, 0.58333333, 0.59322034, 0.625     ],
       [0.66666667, 0.45833333, 0.62711864, 0.58333333],
       [0.55555556, 0.125     , 0.57627119, 0.5       ],
       [0.36111111, 0.41666667, 0.52542373, 0.5       ],
       [0.33333333, 0.20833333, 0.50847458, 0.5       ],
       [0.33333333, 0.25      , 0.57627119, 0.45833333],
       [0.5       , 0.41666667, 0.61016949, 0.54166667],
       [0.41666667, 0.25      , 0.50847458, 0.45833333],
       [0.19444444, 0.125     , 0.38983051, 0.375     ],
       [0.36111111, 0.29166667, 0.54237288, 0.5       ],
       [0.38888889, 0.41666667, 0.54237288, 0.45833333],
       [0.38888889, 0.375     , 0.54237288, 0.5       ],
       [0.52777778, 0.375     , 0.55932203, 0.5       ],
       [0.22222222, 0.20833333, 0.33898305, 0.41666667],
       [0.38888889, 0.33333333, 0.52542373, 0.5       ],
       [0.55555556, 0.54166667, 0.84745763, 1.        ],
       [0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [0.77777778, 0.41666667, 0.83050847, 0.83333333],
       [0.55555556, 0.375     , 0.77966102, 0.70833333],
       [0.61111111, 0.41666667, 0.81355932, 0.875     ],
       [0.91666667, 0.41666667, 0.94915254, 0.83333333],
       [0.16666667, 0.20833333, 0.59322034, 0.66666667],
       [0.83333333, 0.375     , 0.89830508, 0.70833333],
       [0.66666667, 0.20833333, 0.81355932, 0.70833333],
       [0.80555556, 0.66666667, 0.86440678, 1.        ],
       [0.61111111, 0.5       , 0.69491525, 0.79166667],
       [0.58333333, 0.29166667, 0.72881356, 0.75      ],
       [0.69444444, 0.41666667, 0.76271186, 0.83333333],
       [0.38888889, 0.20833333, 0.6779661 , 0.79166667],
       [0.41666667, 0.33333333, 0.69491525, 0.95833333],
       [0.58333333, 0.5       , 0.72881356, 0.91666667],
       [0.61111111, 0.41666667, 0.76271186, 0.70833333],
       [0.94444444, 0.75      , 0.96610169, 0.875     ],
       [0.94444444, 0.25      , 1.        , 0.91666667],
       [0.47222222, 0.08333333, 0.6779661 , 0.58333333],
       [0.72222222, 0.5       , 0.79661017, 0.91666667],
       [0.36111111, 0.33333333, 0.66101695, 0.79166667],
       [0.94444444, 0.33333333, 0.96610169, 0.79166667],
       [0.55555556, 0.29166667, 0.66101695, 0.70833333],
       [0.66666667, 0.54166667, 0.79661017, 0.83333333],
       [0.80555556, 0.5       , 0.84745763, 0.70833333],
       [0.52777778, 0.33333333, 0.6440678 , 0.70833333],
       [0.5       , 0.41666667, 0.66101695, 0.70833333],
       [0.58333333, 0.33333333, 0.77966102, 0.83333333],
       [0.80555556, 0.41666667, 0.81355932, 0.625     ],
       [0.86111111, 0.33333333, 0.86440678, 0.75      ],
       [1.        , 0.75      , 0.91525424, 0.79166667],
       [0.58333333, 0.33333333, 0.77966102, 0.875     ],
       [0.55555556, 0.33333333, 0.69491525, 0.58333333],
       [0.5       , 0.25      , 0.77966102, 0.54166667],
       [0.94444444, 0.41666667, 0.86440678, 0.91666667],
       [0.55555556, 0.58333333, 0.77966102, 0.95833333],
       [0.58333333, 0.45833333, 0.76271186, 0.70833333],
       [0.47222222, 0.41666667, 0.6440678 , 0.70833333],
       [0.72222222, 0.45833333, 0.74576271, 0.83333333],
       [0.66666667, 0.45833333, 0.77966102, 0.95833333],
       [0.72222222, 0.45833333, 0.69491525, 0.91666667],
       [0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [0.69444444, 0.5       , 0.83050847, 0.91666667],
       [0.66666667, 0.54166667, 0.79661017, 1.        ],
       [0.66666667, 0.41666667, 0.71186441, 0.91666667],
       [0.55555556, 0.20833333, 0.6779661 , 0.75      ],
       [0.61111111, 0.41666667, 0.71186441, 0.79166667],
       [0.52777778, 0.58333333, 0.74576271, 0.91666667],
       [0.44444444, 0.41666667, 0.69491525, 0.70833333]])

In [44]:
scaled_column=pd.DataFrame(scaled_x)
df=pd.concat([iris,scaled_column],axis=1)
df.rename(columns={0:'s1_scaled',1:'Sw_scaled',2:'pl_scaled',3:'pw_scaled'},inplace=True)
df

,sepal_length,sepal_width,petal_length,petal_width,species,s1_scaled,Sw_scaled,pl_scaled,pw_scaled
0,5.1,3.5,1.4,0.2,setosa,0.222222,0.625000,0.067797,0.041667
1,4.9,3.0,1.4,0.2,setosa,0.166667,0.416667,0.067797,0.041667
2,4.7,3.2,1.3,0.2,setosa,0.111111,0.500000,0.050847,0.041667
3,4.6,3.1,1.5,0.2,setosa,0.083333,0.458333,0.084746,0.041667
4,5.0,3.6,1.4,0.2,setosa,0.194444,0.666667,0.067797,0.041667
...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0.666667,0.416667,0.711864,0.916667
146,6.3,2.5,5.0,1.9,virginica,0.555556,0.208333,0.677966,0.750000
147,6.5,3.0,5.2,2.0,virginica,0.611111,0.416667,0.711864,0.791667
148,6.2,3.4,5.4,2.3,virginica,0.527778,0.583333,0.745763,0.916667
149,5.9,3.0,5.1,1.8,virginica,0.444444,0.416667,0.694915,0.708333